<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt suscipit aliquam officia velit aut amet reprehenderit in dolor rem. Odio amet aspernatur laudantium unde, corrupti reprehenderit quo odit hic officiis consequatur vel cumque maiores facere numquam iure dolorum corporis praesentium laboriosam, vitae nisi voluptatibus recusandae? Expedita totam laboriosam molestiae nam.</p>
    <button>click me!</button>
</body>
</html>